# Ignore virtual environments
env/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore config and temp files
*.env
*.log

# Ignore model artifacts (optional, adjust if necessary)
# *.pkl
*.joblib

# Ignore local data files
*.sqlite3
*.db

# Ignore git files
.git/
.gitignore
