# Ignore virtual environments
env/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore config and temp files
*.env
*.log

# Ignore model artifacts (optional, adjust if necessary)
# *.pkl
*.joblib

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore local data files
*.sqlite3
*.db
